include MANIFEST.in
include LICENSE
include README.md
include setup.py
include hplib/hplib_database.csv
include hplib/hplib.py
include hplib/same_built_type.pkl
include hplib/hplib_database_all.csv

global-exclude __pycache__
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.pyd
global-exclude *.so
global-exclude *~
global-exclude .DS_Store
global-exclude .git*
global-exclude \#*
global-exclude .ipynb_checkpoints*
include versioneer.py
include hplib/_version.py
